.testo-centrale td{
    vertical-align:middle;
}

.tabella-scorrevole {
    height: 60vh;
    overflow-y: scroll;
}
    .tabella-scorrevole thead th {
        position: sticky;
        top: 0;
        background: white;
        z-index: 1;
    }


@media only screen and (max-width: 600px){
    .no-mobile-margin{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}



